{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'myapp1/css/myapp1.css' %}">
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <aside class="block-left">
        <img src="{% static 'myapp1/img/logo.png' %}" alt="TanCons">
        <span class="logo">TanCons</span>
        <h3>Навигация</h3>
        <ul>
            <a href="{% url 'home' %}"><li><i class="x-circle-fill"></i>Главная</li></a>
            <a href="{% url 'news_home' %}"><li><i class="fa-address-book"></i>Новости</li></a>
            <a href="{% url 'about' %}"><li><i class="fa-solid fa-address-card"></i>О нас</li></a>
            <a href=""><li><i class="fa-solid fa-address-book"></i>Контакты</li></a>
            <a href="{% url 'create' %}"><li><button class="btn btn-info"><i class="fas fa-plus-circle"></i>Добавить новость</button></li></a>
        </ul>
    </aside>
    <main class="block-right">
    {% block body %}
    {% endblock %}
    </main>

</body>
</html>