{% extends 'myapp1/layout.html' %}

    {% block title %}Новости{% endblock %}
    {% block page_title %}Новости{% endblock %}

        {% block body %}

            {% if news %}

                {% for now in news %}


                    <h3 class="fs-2 text">{{ now.title }}</h3>
                    <p class="fs-5 text">{{ now.anons }}</p>
                    <a href="{% url 'news-detail' now.id %}" class="btn btn-lg btn-light fw-bold border-white bg-white">Читать полностью</a>
                    Комментарии ({{ comment_c }}):
                    <span class="datatime">{{ now.date }}</span>
                    <br>
                    <br>

                {% endfor%}

                {% else %}

                 <div class="news">
                     <p class="fs-5 text">Нет новостей</p>
                 </div>

                    {% endif %}

        {% endblock %}